<!-- <h2>{{ blog[0].name }}</h2>

<p>{{ blog[0].content }}</p> -->

<section class="home">
    <div class="profile-img">
        <img src="../assets/profile-img.JPEG" alt="Profile Photo">
    </div>
    <div class="profile-text">
        <div class="text-box">
            <p>Technical creative with 8+ years of experience in photography, project management, and digital asset organization. Seeking to grow more in the tech field and apply 2+ years of extensive experience in programming to create amazing products for End Users.</p>
        </div>
    </div>
</section>

<hr>
<!-- This is the section that has the feedback entries and the ability to edit feedback -->
<section class="feedback">
    <h2 class="feedback-header">Website Feedback</h2>
    <!-- This button pops the form below and allows the users to add new feedback -->
    <button (click)="initNewFeedback()">Add Your Feedback</button>

    <!-- This is where the form to add/update/delete feedback will be -->
    <app-edit-blog [blog]="entryToEdit" (blogUpdated)="updateFeedbackList($event)"></app-edit-blog>

    <!-- This is where the feedback cards will be made -->
    <div class="feedback-card" *ngFor="let feedbackEntry of blog">
        <h4>{{ feedbackEntry.name }}</h4>
        <p>{{ feedbackEntry.content }}</p>
        <button (click)="editEntry(feedbackEntry)">Edit</button>
    </div>
</section>